body {
	background-color: #b8f3ff64;
	font-family: 'Press Start 2P', cursive;


}

h1 {
    text-align: center;
	font-size:40px;
	color: #63768D;
	

}


#grid-container {
	position: relative;
	outline:2px solid #63768D;
	font-size: 0;
	margin:auto;
	height:400px;
	width:400px;
	background-color: #8AC6D0;
	border: none;
}

.grid-items {
	margin:0;
	padding:0;
	border:none;
	
	display:inline-block;
    width: 40px;
    height: 40px;
	
}



.apple {
	background: red;
	

} 

.snake {
    background: #554971;
  }

.scoreboard{
	font-display: block;
	font-size: 15px;
	height:200px;
	width:200px;
	position: relative;
	float: left;
	
}

#buttons {
	display: flex;
	justify-content: center;
	
}
button {
	font-family: 'Press Start 2P', cursive;
	background-color: #63768D;
	font-size: 15px;
	color: white;
	padding: 5px 20px;
	margin: 20px;
	
	border-radius: 5px;
	

}

